<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Roboto+Slab:wght@400;700&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/index.css">
  <title>Apex Consultancy - Contact</title>
</head>
<body>
  <header>
    <img class="logo" style="width: 2.5cm; height: 2.5cm;" src="/docs/Logo2.png" alt="Apex Consultancy Logo">
         <nav>
      <a href="/">Home</a>
      <a href="/services">Services</a>
      <a href="/country-list">Country List</a>
      <a href="/form-download">Application Form</a>
      <a href="/contact">Contact</a>
    </nav>
  </header>
  <main class="container">
    <h1>Contact</h1>
    <p>If you have any questions or need assistance, please feel free to get in touch with us using the contact information or the form below:</p>
    <div class="contact-details">
      <p>Email: <a href="mailto:apexconsultancy.et@gmail.com">apexconsultancy.et@gmail.com</a></p>
      <p>Phone: +1 (647) 581 2479 / +251923282129</p>
    </div>
    <form action="/send-message" method="post">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
      <label for="message">Message:</label>
      <textarea id="message" name="message" rows="4" required></textarea>
      <button type="submit">Send Message</button>
    </form>
  </main>
  <footer class="container">
    <div class="footer-section">
      <h3>Address</h3>
      <p>Addis Ababa, Ethiopia</p>
    </div>
    <div class="footer-section">
      <h3>Navigation</h3>
      <nav>
        <a href="/">Home</a><br>
        <a href="/services">Services</a><br>
        <a href="/country-list">Country List</a><br>
        <a href="/form-download">Application Form</a><br>
      </nav>
    </div>
    <div class="footer-section">
      <h3>Contact</h3>
      <p>Email: apexconsultancy.et@gmail.com</p>
      <p>Phone: +1(647)5812479 / +251923282129</p>
    </div>
  </footer>
</body>
</html>
